// Colors

$-background-color: #fff;

$-orange-50: #fff2ec;
$-orange-100: #fee5d7;
$-orange-200: #fecbaf;
$-orange-300: #fdb087;
$-orange-400: #fd965f;
$-orange-500: #fc7c37;
$-orange-600: #bd5d29;
$-orange-700: #7e3e1c;
$-orange-800: #3f1f0e;
$-orange-900: #190c06;

$-yellow-50: #fff9eb;
$-yellow-100: #fef2d6;
$-yellow-200: #fde5ae;
$-yellow-300: #fdd985;
$-yellow-400: #fccc5d;
$-yellow-500: #fbbf34;
$-yellow-600: #bc8f27;
$-yellow-700: #7e601a;
$-yellow-800: #3f300d;
$-yellow-900: #191305;

$-turquoise-50: #f4fbfa;
$-turquoise-100: #e9f5f5;
$-turquoise-200: #d3ebea;
$-turquoise-300: #bce2e0;
$-turquoise-400: #a6d8d5;
$-turquoise-500: #90cecb;
$-turquoise-600: #6c9b98;
$-turquoise-700: #486766;
$-turquoise-800: #243433;
$-turquoise-900: #0e1514;

$-grey-25: #fafafa;
$-grey-50: #efefef;
$-grey-100: #dedede;
$-grey-200: #bdbdbd;
$-grey-300: #9b9b9b;
$-grey-400: #7a7a7a;
$-grey-500: #595959;
$-grey-600: #434343;
$-grey-700: #2d2d2d;
$-grey-800: #161616;
$-grey-900: #090909;

$-purple-50: #f5f2fc;
$-purple-100: #e9e3f8;
$-purple-200: #d3c7f2;
$-purple-300: #bdaceb;
$-purple-400: #a790e5;
$-purple-500: #9174de;
$-purple-600: #6d57a7;
$-purple-700: #493a6f;
$-purple-800: #241d38;
$-purple-900: #0f0c16;
